<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bill payment</title>
    <h1><%= title %></h1>
  </head>
  <body>

      <%= message_cost %>
      <br>
      <br>
      Source station <b> <%= name_station_1 %> </b> Destination station <b> <%= name_station_2 %> </b>
      <br>
      <br>
      Your ticket cost <b> <%= cost %> </b> Baht
      <br>
      <br>
      Your Rabbit student ticket cost <b> <%= cost_rabbit_student_ticket %> </b> Baht
      <br>
      <br>
      Your Rabbit normal ticket cost <b> <%= cost_rabbit_normal_ticket %> </b> Baht
      <br>
      <br>
      Your Rabbit senior ticket cost <b> <%= cost_rabbit_senior_ticket %> </b> Baht
      <br>
      <br>
      Enjoy your ride. have a nice day
  </body>
</html>
