<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Station</title>
    <h1><%= title %></h1>
  </head>
  <body>

    <br>

    <b> Name Station: </b> <%= station.name_station %>
    <br/>
    <br/>
    <b> Station Surrounding: </b> <%= station.surrounding %>
    <br/>
    <br/>
    <b> Station Service: </b> <%= station.service %>
    <br/>
    <br/>
    <b> First Train: </b> <%= station.line_1 %> <b> <%= station.first_train_go %> </b>  AM
    <br/>
    <br/>
    <b> Last Train: </b> <%= station.line_1 %> <b> <%= station.last_train_go %> </b>  PM
    <br/>
    <br/>
    <b> First Train: </b> <%= station.line_2 %> <b> <%= station.first_train_back %> </b>  AM
    <br/>
    <br/>
    <b> Last Train: </b> <%= station.line_2 %> <b> <%= station.last_train_back %> </b>  PM
    <br/>
    <br/>

  </body>
</html>
